@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Ubuntu";
    border-bottom: 3px solid #cfcdcc;
}

.navbar img{
    width: 15%;
    margin-left: 30px;
}

.navbar .sign{
    margin-right: 30px;
}

/*principal section*/
.principal{
    width: 100vw;
    height: 80vh;
    font-family: "Ubuntu";
    display: flex;
    justify-content: center;
}

.principal .max-width{
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 20px;
}

.principal button{
    margin-right: 10px;
    padding: 5px 10px;
    border: 0;
}

.principal #google{
    background-color: #4285F4;
    color: white;
}

.principal #facebook{
    background-color: #4267B2;
    color: white;
}

.principal p{
    margin-top: 15px;
}

.principal form{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    margin-bottom: 30px;
}

.principal form input{
    padding: 2px 150px;
    margin: 10px 0
}

.principal form span{
    color:#4285F4;
}

.form #create{
    border-radius: 12px ;
    border: 3px solid grey;
    border-style: dashed;
    padding: 10px 60px;
    color: grey;
    font-family: "Ubuntu";
    letter-spacing: 2px;
    background-color: white;
}

/*footer*/

.things{
    border-top: 3px solid #cfcdcc;
    border-top: 3;
    width: 100vw;
    display: flex;
    color: grey;
    font-size: 15px;
    font-family: "Ubuntu";
    margin-top: 15px;
}

.things #issuu{
    margin-right: 50px;
    margin-left: 10px;
}

.things p{
    margin-right: 30px;
    margin-top: 20px;
}


